﻿@model MVCajaxTest.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Country, new SelectList(Model.Countries, "CountryCode", "CountryDescription"), "Select Country", htmlAttributes: new { @class = "form-control col-md-2" })
            &nbsp&nbsp
            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger col-md-2" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CountrySubdivision, new SelectList(String.Empty), "Select Country Subdivision", htmlAttributes: new { @class = "form-control col-md-2" })
            @Html.ValidationMessageFor(model => model.CountrySubdivision, "", new { @class = "text-danger col-md-2" })
        </div>
    </div>

    <div id="errorData" class="col-md-10"></div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#Country").change(function () {
            $("#State").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCountrySubdivisions")', // we are calling json method
                dataType: 'json',         
                data: JSON.stringify({ countryCode: $("#Country").val() }),
                contentType: 'application/json',
                success: function (countrySubdivisions) {
                    var countrySubdivision = '';
                    $.each(countrySubdivisions, function (i, countrySubdivision) {
                        $("#CountrySubdivision").append('<option value="' + countrySubdivision.SubdivisionCode + '">' +
                            countrySubdivision.SubdivisionDescription + '</option>');
                    });
                },
                error: function (xhr, status, error) {
                    $("#errorData").html("Error: " + status + " " + error + " " + xhr.status + " " + xhr.statusText + " " + xhr.responseText)
                }
            });
            return false;
        })
    });
    </script>

    <div class="col-md-12">
        <h3>Enter the Username and Password:</h3>
        (enter "admin" for both username and password)
        <input type="text" id="usernameInput" placeholder="Username" />
        <input type="text" id="passwordInput" placeholder="Password" />
        <button id="submit">Submit</button>
        <div id="dataDiv"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script>

            $(document).ready(function () {
                $("#submit").click(function (e) {
                    if ($("#usernameInput").val() == "")
                        alert("Username cannot be empty");
                    else if ($("#passwordInput").val() == "")
                        alert("Password cannot be empty");
                    else {
                        $.ajax({
                            type: "POST",
                            url: "/Home/GetSecuredData",
                            contentType: "application/json; charset=utf-8",
                            data: '{"userName":"' + $("#usernameInput").val() + '","password":"' + $("#passwordInput").val() + '"}',
                            dataType: "html",
                            success: function (result, status, xhr) {
                                $("#dataDiv").html(result);
                            },
                            error: function (xhr, status, error) {
                                $("#dataDiv").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                            }
                        });
                    }
                    return false;
                });
            });
        </script>
    </div>
</div>